
.display-profile-elements{
    width:50%;
    background-color:whitesmoke;
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
    padding-bottom: 20px;
    
}
.formdiv{
    width:100%;
    margin-left: auto;
    margin-right: auto;
    margin-top:90px;
}

@media only screen and (max-width:600px) {
    .display-profile-elements{
        width:70%; 
        
    }
    .formdiv{
        width:100%;
        margin-left: auto;
        margin-right: auto;
        margin-top:90px;
    }
}