body {
    background: url('../background1.jpg') fixed;
   background-size: cover;
}

.form-horizontal {
   max-width:50%;
   padding:2%;
   margin: 0 auto;
   border-radius: 0.3em;
   background-color: #f2f2f2;
   height:600px;
   font-size: 12px;
   margin-top:10%;
   
}
label{
   padding:1%;
}

h2 { 
   font-family: 'Open Sans' , sans-serif;
   font-size: 40px;
   font-weight: 600;
   color: #000000;
   margin-top:4%;
   margin-bottom: 4%;
   text-align: center;
   text-transform: uppercase;
   letter-spacing: 4px;
   
}

.form-group{
   height:7%;
}

.btn{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

#signupbutton{
   display: block;
   margin-left: auto;
   margin-right: auto;
}
#loginbutton{
   display: block;
   margin-left: auto;
   margin-right: auto;
   margin-top:10%;
}

.navbar{
   font-size:15px;
   margin-top:0px;
 }
 #login{
    margin-top:100px;
 }
 #register-link
 {
   padding: 4%;
    font-size:13px;
    
 }
 @media only screen and (max-width:600px) {
   
   .form-group{
      padding:6%;

   }
   .form-horizontal{
     max-width: 90%;
     height: 60%;
     margin-top: 30%;
   }
   #loginbutton{
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top:-12%;
   }
   
 }